<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuickTyper</title>
    <link rel="shortcut icon" href="../../static/images/keyboard.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/welcome_page.css">
</head>
<body>
<div class="content text-white">
<div class="welcome-block">
    <h3>Nice to see you on</h3>
    <p>QuickTyper</p>
    <a href="/test/"><button class="btn btn-outline-success"><b>Let's go typing!</b></button></a><br>
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-mouse" viewBox="0 0 16 16">
        <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm4 8a4 4 0 0 1-8 0V5a4 4 0 1 1 8 0v6zM8 0a5 5 0 0 0-5 5v6a5 5 0 0 0 10 0V5a5 5 0 0 0-5-5z"/>
    </svg>
</div>
<div class="row mt-5">
    <div class="col col-sec">
        <p>Complete our tests with training texts to quickly check you current typing speed and accuracy</p>
    </div>
    <div class="col">
        <div class="speed-block">
            <p><b>Check your <br>typing speed <br>and accuracy</b></p>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="skill-block">
            <p><b>Get your <br>skill level</b></p>
        </div>
    </div>
    <div class="col col-sec">
        <p>-Octopus -Monkey <br>-Pigeon -Bear -Sloth</p>
    </div>
</div>
<div class="row mt-5">
    <div class="col col-sec">
        <p>Use our training mode to reach impressive typing speed!</p>
    </div>
    <div class="col">
        <div class="improve-block">
            <p><b>Improve your <br>typing skills</b></p>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="challenge-block">
            <p><b>Challenge your <br>friends</b></p>
        </div>
    </div>
    <div class="col col-sec">
        <p>Achive new results and try to reach best to beat your friends!</p>
    </div>
</div>

<div class="end-button">
    <a href="/test/"><button class="btn btn-outline-success"><b>Let's go typing!</b></button></a>
</div>
</div>
</body>
<footer>
    <p>QuickTyper official. All rights reserved!</p>
</footer>
</html>